.loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.loader>.spin {
    width: 10em;
    height: 10em;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    top: 50%;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.7);
    border-right: 1.1em solid rgba(255, 255, 255, 0.7);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.7);
    border-left: 1.1em solid #006cb8;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
}

.loader>.id-msg {
    position: relative;
    top: 53%;
    font-weight: 500;
    color: #fff;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}